.background {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: auto;
    max-width: auto;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin-left:25%;
    margin-right: 25% 
  }
.icon{
    width:150px
}
.bgImage1{

    background-image:url('../../assets/DayTime.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; 
    height:100%;
    
}
.bgImage2{
    background-size:cover; 
    background-image:url('../../assets/NightTime.jpg');
    /* width: auto;
    height: 666px; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}